<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHXk8n02Gw13IqN7hJ-FsA8lRxZ0LjNHw</string>
	<key>GCM_SENDER_ID</key>
	<string>1097818267041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.randymolina.gotagota</string>
	<key>PROJECT_ID</key>
	<string>gotagota-8afda</string>
	<key>STORAGE_BUCKET</key>
	<string>gotagota-8afda.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097818267041:ios:a30d71d0878db273683fe0</string>
	<key>DATABASE_URL</key>
	<string>https://gotagota-8afda-default-rtdb.firebaseio.com</string>
</dict>
</plist>